<div class="row mt-3 mb-3">
  <div class="col-4">
    Page size:&nbsp;
    <div class="btn-group btn-group-sm" role="group" aria-label="Pagination buttons">
      <button type="button" class="btn btn-secondary" (click)="changePageSize(6)">6</button>
      <button type="button" class="btn btn-secondary" (click)="changePageSize(12)">12</button>
      <button type="button" class="btn btn-secondary" (click)="changePageSize(24)">24</button>
    </div>
    &nbsp;Current size: {{ paginationData.pageSize }}
  </div>

  <div class="col-8">
    <div class="btn-group btn-group-sm" role="group" aria-label="Pagination buttons">
      <button type="button" class="btn btn-secondary" (click)="firstPage()" [disabled]="firstDisabled">First</button>
      <button type="button" class="btn btn-secondary" (click)="previousPage()" [disabled]="previousDisabled">Previou</button>
      <button type="button" class="btn btn-info">On page {{ paginationData.page }} of {{ pageCount }}</button>
      <button type="button" class="btn btn-secondary" (click)="nextPage()" [disabled]="nextDisabled">Next</button>
      <button type="button" class="btn btn-secondary" (click)="lastPage()" [disabled]="lastDisabled">Last</button>
    </div>
  </div>
</div>

<!-- 
  <its-pagination [productsData]="productsData" (pageChange)="onPageChange($event)"></its-pagination>
 -->