<div class="row">
  <div class="col-2">
    sidebar
  </div>

  <div class="col-10 cards-container">
    <div class="row">
      <div class="col-4 card-col" *ngFor="let item of products">
        <div class="card">
          <img src="http://localhost:3000/{{ item.imagePath }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.brand }} {{ item.name }}</h5>
            <p class="card-text">{{ item.processor }}, {{ item.memory }}, {{ item.storage }}, {{ item.display }}</p>
            <button class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<its-pagination [productsData]="productsData" (pageChange)="onPageChange($event)"></its-pagination>