<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-12">
      <its-header></its-header>
      <its-navigation></its-navigation>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <p class="text-center text-light p-3 bg-secondary">
        Slobodan Subotic <small>https://github.com/slobodanstardust</small>
      </p>
    </div>
  </div>
</div>